.Rproj.user
.Rhistory
.Rdata
.httr-oauth
.DS_Store
.quarto
*.tiff
*.png
*.xlsx
*.vcf
*.vcf.gz
*.Rproj
**.doc
**.docx
**.pdf
**.html
**.gds
data/popGWAS.csv
data/global_gwas_data_jacksbinom.csv
data/global_gwas_data.csv
to_do.txt
troubleshooting/
genotyping/HDplot/